<%- include('Common/header') %>
<%- include('Common/sidebar') %>
<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">Add Slide</h2>
    <dir>
        <div class="card">
            <div class="card-body">
                <form method="POST" action="/admin/add-slide/content" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" name="name" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                      <label for="content">Content</label>
                      <textarea class="form-control" name="content" placeholder="Enter content" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="s_image">Image</label>
                        <input type="file" class="form-control" name="s_image">
                      </div>
                    <button type="submit" class="btn btn-primary">Add Slide</button>
                  </form>
            </div>
          </div>
    </dir>
    </div>
<%- include('Common/footer') %>