<%- include('Common/header') %>
<%- include('Common/sidebar') %>
<!-- Page Content  -->
<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">Dashboard</h2>
    <div class="containner pb-5">
      <img src="./../../../Admin/image/dashboard_img.jpg" alt="dashboard-image">
    </div>
    <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Company</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="">Animesh Khamrui</a>
        </div>
      </div>
    </div>
<%- include('Common/footer') %>